# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files
*.npy
*.npz
*.pt

# Output files
out_*

# Notebook checkpoints
*.ipynb_checkpoints/

# VSCode settings
.vscode/


# Ignore logs
*.log

# Ignore images
*.png
*.jpg
*.jpeg

# Ignore checkpoints
checkpoint_*.pt
final_model.pt

# Ignore experiment directories
exp_dir/
wandb/
runs/
