absl-py==2.2.2
dm-haiku==0.0.13
importlib_metadata==8.6.1
jax==0.4.30
jaxlib==0.4.30
jmp==0.0.4
joblib==1.4.2
ml_dtypes==0.5.1
numpy==2.0.2
opt_einsum==3.4.0
scikit-learn==1.6.1
scipy==1.13.1
tabulate==0.9.0
threadpoolctl==3.6.0
zipp==3.21.0
optax==0.1.10
tqdm==4.67.0
wandb==0.15.10
matplotlib==3.8.0
seaborn==0.13.0